{% extends "layout.html" %}
{% block content %}

<div class="hero-body has-background-light">
    <div class="container has-text-left">
        <section class="hero is-light welcome is-small">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title has-text-info">
                        {{product[1]}}
                    </h1>
                    <h2 class="subtitle has-text-black">
                        {{product[2]}}
                    </h2>
                </div>
            </div>
        </section>
        {% if posts %}
        <table class="table is-bordered is-striped is-fullwidth">
          <tr class="th is-selected">
            <th>User</th>
            <th class="comment">Comment</th>
            <th>Point</th>
            <th class="reply">Reply</th>
          </tr>
          {% for post in posts %}
          <tr>
            <td>{{post[1]}}</td>
            <td class="comment">{{post[4]}}</td>
            <td><progress class="progress is-warning" value="{{post[3]}}" max="10"></progress></td>
            <td class="reply">{{post[5]}}</td>
          </tr>
          {% endfor %}
          </table>
          {% endif %}
           
        </div>
</div>
{% endblock %}
